This notebook contains a function to read through .csvs from the census bureau and extract the income information per zipcode. Currently, the join portion of the function is incomplete and the resulting csv was put together 'by hand', running the steps within the function for each csv.

In [69]:
import pandas as pd
import re
from functools import reduce

## Create 2012 df

In [70]:
df = pd.read_csv('census_data/ACS_12_5YR_S1901_with_ann_2012.csv')

In [71]:
df_2012 = pd.DataFrame(columns=['zip', 'year', 'income'])

In [72]:
df_2012['zip'] = df['GEO.id2']
df_2012['income'] = df['HC01_EST_VC13']
df_2012['year'] = 2012
df_2012 = df_2012[1:]

## Create 2013 df

In [73]:
df = pd.read_csv('census_data/ACS_13_5YR_S1901_with_ann_2013.csv')

In [74]:
df_2013 = pd.DataFrame(columns=['zip', 'year', 'income'])
df_2013['zip'] = df['GEO.id2']
df_2013['income'] = df['HC01_EST_VC13']
df_2013['year'] = 2013
df_2013 = df_2013[1:]

## Create 2014 df

In [76]:
df = pd.read_csv('census_data/ACS_14_5YR_S1901_with_ann_2014.csv')

In [77]:
df_2014 = pd.DataFrame(columns=['zip', 'year', 'income'])
df_2014['zip'] = df['GEO.id2']
df_2014['income'] = df['HC01_EST_VC13']
df_2014['year'] = 2014
df_2014 = df_2014[1:]

## Create 2015 df

In [80]:
df = pd.read_csv('census_data/ACS_15_5YR_S1901_with_ann_2015.csv')
df_2015 = pd.DataFrame(columns=['zip', 'year', 'income'])
df_2015['zip'] = df['GEO.id2']
df_2015['income'] = df['HC01_EST_VC13']
df_2015['year'] = 2015
df_2015 = df_2015[1:]

In [89]:
df_2015

      zip  year income
1   10026  2015  47264
2   10027  2015  40782
3   10030  2015  33196
4   10031  2015  39774
5   10032  2015  37280
6   10033  2015  44933
7   10034  2015  42581
8   10037  2015  35491
9   10039  2015  33558
10  10040  2015  46200

## Create 2016 df

In [81]:
df = pd.read_csv('census_data/ACS_16_5YR_S1901_with_ann_2016.csv')
df_2016 = pd.DataFrame(columns=['zip', 'year', 'income'])
df_2016['zip'] = df['GEO.id2']
df_2016['income'] = df['HC01_EST_VC13']
df_2016['year'] = 2016

In [83]:
df_2016 = df_2016[1:]

## Put them all together

In [84]:
frames = [df_2012, df_2013, df_2014, df_2015, df_2016]

In [87]:
df_final = pd.concat(frames, ignore_index=True)

In [91]:
df_final.to_csv('data/census_income_12_16.csv', index=False)